apiVersion: v1
kind: Secret
metadata:
  name: cloudflared-credentials
  namespace: default
type: Opaque
data:
  credentials.json: eyJBY2NvdW50VGFnIjoiOGFjNjA1NGU3MjdmYmZkOTljZWQ4NmM5NzA1YTU4OTMiLCJUdW5uZWxTZWNyZXQiOiJPaW9yQkFRZ1VqcVF0NWUvTTc2aEJIYTJTUGx4bWREN0ppWGU3ak5RUCt3PSIsIlR1bm5lbElEIjoiMzhiODg1NzMtMGQwNC00MDBkLWFkMWYtNTJmMjIzNzlhMmE3IiwiRW5kcG9pbnQiOiIifQ==
