apiVersion: v1
kind: Service
metadata:
  name: cloudflared-metrics
  namespace: default
  labels:
    app: cloudflared
spec:
  selector:
    app: cloudflared
  ports:
    - port: 2000
      targetPort: 2000
      name: metrics
  type: ClusterIP
