# Patroni Configuration for Cold Storage HA
# Place this at /etc/patroni/patroni.yml on each node
# Change 'name' and 'connect_address' for each node

scope: cold-cluster
namespace: /db/
name: cold-node-1  # Change to cold-node-2, cold-node-3

restapi:
  listen: 0.0.0.0:8008
  connect_address: 192.168.15.101:8008  # Change to node's IP

etcd:
  hosts:
    - 192.168.15.101:2379
    - 192.168.15.102:2379
    - 192.168.15.103:2379

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        wal_level: replica
        hot_standby: "on"
        max_connections: 200
        max_wal_senders: 10
        max_replication_slots: 10
        wal_keep_size: 1GB
        synchronous_commit: "on"
        synchronous_standby_names: "*"
        shared_buffers: 2GB
        effective_cache_size: 4GB
        work_mem: 16MB
        maintenance_work_mem: 256MB

  initdb:
    - encoding: UTF8
    - data-checksums

  pg_hba:
    - host replication replicator 192.168.15.0/24 md5
    - host all all 192.168.15.0/24 md5
    - host all all 127.0.0.1/32 md5

  users:
    admin:
      password: "your_admin_password"  # CHANGE THIS
      options:
        - createrole
        - createdb
    replicator:
      password: "your_replicator_password"  # CHANGE THIS
      options:
        - replication

postgresql:
  listen: 0.0.0.0:5432
  connect_address: 192.168.15.101:5432  # Change to node's IP
  data_dir: /var/lib/postgresql/17/main
  bin_dir: /usr/lib/postgresql/17/bin
  pgpass: /var/lib/postgresql/.pgpass
  authentication:
    replication:
      username: replicator
      password: "your_replicator_password"  # CHANGE THIS
    superuser:
      username: postgres
      password: "your_postgres_password"  # CHANGE THIS
  parameters:
    unix_socket_directories: '/var/run/postgresql'

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false

---
# Patroni Systemd Service
# Place at /etc/systemd/system/patroni.service

# [Unit]
# Description=Patroni PostgreSQL Cluster Manager
# After=network.target etcd.service
# Requires=etcd.service
#
# [Service]
# Type=simple
# User=postgres
# Group=postgres
# ExecStart=/usr/local/bin/patroni /etc/patroni/patroni.yml
# ExecReload=/bin/kill -HUP $MAINPID
# KillMode=process
# TimeoutSec=30
# Restart=always
# RestartSec=5
#
# [Install]
# WantedBy=multi-user.target
